<p>
  <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
  <a href="{% url 'learning_logs:topics' %}">Topics</a>

  {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'users:logout' %}">Log out</a>
  {% else %}
    <a href="{% url 'users:register' %}">Register</a> -
    <a href="{% url 'users:login' %}">Log in</a>
  {% endif %}
</p>

{% block content %}
{% endblock content %}


<p style=" position: absolute; bottom: 0; left: 7; width: 100%; text-align: left;">
&copy; Copyright 2006<script>new Date().getFullYear()>2017&&document.write(" - "+new Date().getFullYear());</script>, Ing. Raúl Girón.</p>
